body
{
    background-color: #661b1d;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 80vw;
}
.content{
    height: 100%;
    color: white;
    text-align: center;
}
.pic {
	/* padding: 40px 5px 10px 10px; */
	background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
	text-align: center;
}
.logo{
    padding: 15px;
    transition: transform .2s;
}
.logo:hover{
    transform: scale(1.2);
}
.contactinfo p,h3
{
    text-align: center;
    color: white;    
}
.info{
    font-size: small;
}
.footer{
    background-color: #661b1d; 
    bottom: 0; 
    width: 100%;
    padding: 2%;
}
/* .icon
{
    color: white;
    text-align: center;
} */
/* .row-1
{
   display: block; 
   padding: 2px 2px 2px 2px;
} */