<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/contact.css">
    <title>Studio Kuha | Contact Us</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class='content'>
        <h3>Contact Us</h3>
        <form method='post'>
            <div class='row'>
                <div class="form-group col-sm">
                    <label>Enter Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col-sm">
                    <label>Enter Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="E-Mail" required>
                </div>
            </div>
            <div class='row'>
                <div class="form-group col-sm">
                    <label>Enter Contact Number</label>
                    <input type="text" class="form-control" name="phNum" placeholder="Phone Number">
                </div>
                <div class="form-group col-sm">
                    <label>Select Topic</label>
                    <select class="form-control" name="service">
                        <option value="Interior Architecture">Interior Architecture</option>
                        <option value="Product Design">Product Design</option>
                        <option value="Interior Styling">Interior Styling</option>
                        <option value="Other Service">Other Service</option>
                        <option value="Feedback">Feedback</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" name="message" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="background-color: black;">Submit</button>
        </form>
    </div>
</body>
</html>