<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Studio Kuha | Welcome</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<div class='content'>
    <div class = "topnav">
        <a href="/home">NEXT</a>
    </div>
    <div class = "pic">
        <img alt = "logo" src="../static/images//stkuha.png" height="500px" width="500px" text-align="center">
    </div>
    <br>
    <br>
    <br>
    <div class = "contactinfo">
        <div class="row-1">
            <div class="icon">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </div>
                    <br>
                    <h3>Where to find us</h3>
                    <p>
                        #723, 15th Cross, MCECHS Layout, Dr. Shivaram Karanth Nagar, B'luru - 77
                    </p>
        </div>
        <div class="row-1">
            <div class="icon">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </div>
                    <br>
                    <h3>Email Us At</h3>
                    <p>
                        mkstudiokuha@gmail.com
                    </p>
        </div>
        <div class="row-1">     
            <div class="icon">
                    <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
            </div>
                    <br>
                    <h3>Call Us At</h3>
                    <p>
                    <!-- Mobile: (+63) 555 0100<br> -->
                    Manisha Katti: (+91) 9845328839
                    </p>
        </div>            
    </div>

</div>
</body>
</html>